:root {
  --primary-white: #FFFFFF;
  --primary-yellow: #FF9F0E;
  --primary-dark: #181817;
  --secondary-yellow: #FCB62A;
  --secondary-beige: #FFFAF3;
  --secondary-blue: #F1F3FF;
  --secondary-grey-blue: #839AA9;
  --secondary-light-blue: #F9F9FF;
  --secondary-violet: #D9A6FF;
}