.button {
  background-color: var(--primary-yellow);
  color: var(--primary-white);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-yellow);
  }
}

.basket-btn {
  background-color: transparent;
  border: none;
  fill: var(--primary-yellow);
  cursor: pointer;

  &:hover {
    fill: var(--secondary-yellow);
  }
}

.carousel-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-grey-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--primary-white);
  flex-shrink: 0;

  &--right {
    transform: rotate(180deg);
  }
}